$color7h2:#000000;
$font_size30: 30px;
$font_size20:20px;
$color7p:#999999;
$font_size14: 14px;
$font_size10:10px;

$text-transform: uppercase;
$padding0:0px;
$background:rgb(246, 246, 239) ;

.container3{
    .social{
        .span{
            color: green;
        }
    }
}

.container7{
    .center{
        .item1{
            background-color: white;
            border: none;
            padding: 0!important;
            p{
                color: $color7p;
                font-size: $font_size14;
                line-height: 1.5;
            }
            h5{
                color: $color7h2;
                font-size: $font_size30;
                text-transform: $text-transform;
                

            }
        }
        .item{
            border: none;
            padding: 36px 30px;
            margin:0 64px 45 0px;
            
            .play{
                filter: grayscale(0%);
                    &:hover{
                        filter: grayscale(100%);
                    }
                .item-caption{
                    background: none;
                }
                .view_more{
                    i{
                        font-size: $font_size30;
                        top: -15px;
                        &:hover { color: $color7p; }
                    }
                    
                }
               
            }
            p{
                color: $color7p;
                font-size: $font_size10;
                line-height: 1.5;
                
            }
            h5{
                color: $color7h2;
                font-size: $font_size14;
                max-width: 178px;
            }

            footer{
                display: flex;
                justify-content: flex-end;
                background-color: rgb(246, 246, 239);
                height: 27px;
            }
                .social{
                    p{
                        color: $color7h2;
                        font-size: $font_size10;
                        text-transform: $text-transform;
                    }
                    i{
                        font-size: $font_size14;
                        color: $color7p;
                        &:hover { color: $color7h2; }
                    }
                }
            .text1{
                .card3_5{
                    display: block;
                    position: absolute;
                    bottom: 15px;
                    span{
                        p{
                            color: $color7p;
                            font-size: $font_size10;
                            line-height: 1.5;
                        }
                    }
                }
                h5{
                    color: $color7h2;
                    font-size: $font_size14;
                    line-height: 1.5;
                    padding-bottom: 23px;
                    
                }
            }
        }
    }
}

footer{
    .item{
        .form_message{
            background-color: #171515!important;
            border: none;
            border-bottom: 1px solid #515050; 
    
        }
    }
    .social{
            span{
                    i{
                        margin:0 3px;
                        color: $color7p;
                        &:hover { color: $color7h2; }
                    }
            }
    }
    
}
/* mixin для <h3> 3-го и 5-го контейнера  */
@mixin flexh3 () {
    font-family: 'Lato-Regular';
    font-size: 30px;
    color: #000000;
    text-transform: uppercase;
  }
  
.h3_cont3 {
    @include flexh3 ();
    margin-bottom: 84px;
    margin-left: 70px;
    max-width: 560px;
}

.h3_cont5 {
    display: inline-block;
    @include flexh3 ();
}  

/* mixin для <p> 6-го контейнера  */
@mixin flexp () {
    font-family: 'Lato-Regular';
    font-size: 18px;
    color:#ffffff;
    }

.p1_cont6 {
    @include flexp ();
    padding-left: 100px;
    line-height: 1.5;
}

/* Функции */

/* @function max(:100%) {}

.item-caption  {
    display: none;
	cursor: default;
	position: absolute;
	width: max;
	height: max;
	background: rgba(144, 140, 121, 0.5);
    padding-top: max - 70%;
	text-align: center;
	opacity: 0.5;
} */